
body{
  background-color:#66BFBF;
  text-align: center;
}

.maze_container{
  height: 500px;
  width: 800px;
  display: inline-flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

.row{
  height:50px;
  width: 800px;
  display:flex;
  margin:0 auto;
}

.node{
  background-color: rgb(243,190,190);
  width: 80px;
  height:50px;
  border: 1px solid gray;
  transition: transform .2s;
}

.node:hover{
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.node1{
  background-color: red;
}

.button{
  background: #3498db;
  font-size:20px;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-left: 30px;
  margin-top:20px;
}

h1{
  font-size: 3rem;
  font-family:'Merriweather',sans-serif ;
  color:#283149;
  text-shadow: 1px 0 #DA0463;
  margin-bottom: 50px;
}

h2{
  visibility: hidden;
  font-size: 4rem;
  font-family:'Merriweather',sans-serif ;
  color:#DA0463;
}

.legend{
  display: inline-block;
  margin:auto;
  width:20%;
  height:180px;
  visibility: hidden;
}

.l{
  width:50px;
  height:50px;
  background-color: white;
  float:left;
  border:1px solid black;
}

.l2{
  background-color: rgb(186, 85, 211);
}

.l3{
  background-color: rgb(243, 190, 190);
}

p{
  display:inline-block;
  font-size: 1.5rem;
}

a{
  font-size: 2rem;
  font-family:'Merriweather',sans-serif ;
  color:#EAEAEA;
  font-weight: normal;
}

h3{
  font-size: 2rem;
  color:#FCE700;
  text-transform: uppercase;
}